.Content{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    gap: 2rem;
    box-sizing: border-box;
    padding: 20px;
    flex-grow: 1;
    overflow: hidden;
}

.data {
    width: 18rem;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(244, 244, 244, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: fit-content;
}

.data .card {
    width: 100% !important;
    margin: 0 !important;
    font-size: 0.9rem;
    box-shadow: none;
    text-align: left !important;
}

.data .card .card-body {
    padding: 0.75rem;
    text-align: left !important;
}

.data .card .card-title {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    text-align: left;
}

.data .card .list-group {
    padding: 0.5rem 0.75rem;
    text-align: left !important;
}

.data .card .list-group-item {
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    word-break: break-word;
    border: none;
    text-align: left !important;
    padding-left: 0;
}

.data .card .list-group-item strong {
    margin-right: 0.5rem;
    white-space: nowrap;
    text-align: left !important;
}

.data .card .list-group-item div {
    flex: 1;
    text-align: left;
    overflow-wrap: break-word;
    padding-left: 0;
}

.posts {
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
    overflow-y: auto;
}

.posts-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Media query para dispositivos móviles y tablets */
@media (max-width: 768px) {
    .Content {
        flex-direction: column;
        padding: 10px;
        width: 95%;
        gap: 2rem;
    }

    .data {
        width: 18rem;
        margin: 0 auto;
        order: -1;
    }

    .posts {
        width: fit-content;
        margin: 0 auto;
    }
}
