.title{
    font-family: "Montserrat-Alt1 Light";
    text-decoration: none;
}
.Navbar {
    background-color: #4CAF50; /* Un verde estándar */
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .Navbar .link {
    color: white; /* Cambiar el color del texto del menú a blanco */
    font-weight: bold;
    text-decoration: none;
  }
  
  .Navbar .link:hover {
    color: #DFF6E0; /* Un verde más claro para el hover */
  }
  
  .Navbar h1.title {
    color: white;
    font-family: "Montserrat-Alt1 Light", sans-serif;
    margin: 0;
  }
  
  .Navbar h2 {
    color: white; /* El mensaje de bienvenida */
  }
  
  .Navbar .bg-body-tertiary {
    background-color: transparent !important; /* Si quieres usar la clase personalizada */
  }
  
  .Navbar .btn-outline-success {
    border-color: white;
    color: white;
  }
  
  .Navbar .btn-outline-success:hover {
    background-color: #3E8E41; /* Un verde oscuro para hover */
    border-color: #3E8E41;
  }
  